body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

img.back-image {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
  min-width: 100%;
  width: auto;
  height: auto;
  -webkit-filter: grayscale(100%) opacity(0.8) brightness(30%) contrast(110%);
  filter: grayscale(100%) opacity(0.8) brightness(30%) contrast(110%);
}

h2 {
  font-style: italic;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav ul.links {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.nav ul.links li.link-element {
  width: 40px;
}

.nav ul.links li.link-element i.fa {
  font-size: 1.75em;
  color: #ccc;
  transition: 0.4s color, 0.4s font-size;
}

.nav ul.links li.link-element i.fa:hover {
  color: #fff;
  font-size: 1.9em;
}

.nav ul.navs {
  display: inline;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.nav ul.navs li.nav-element {
  height: 100%;
  align-self: flex-end;
  transition: 0.4s background-color;
}

@media (max-width: 140vh) {
  .nav ul.navs li.nav-element .nav-text {
    display: none;
  }
}

.nav ul.navs li.nav-element.current {
  color: white;
  background-color: black;
  font-style: italic;
  border: 1px white solid;
  border-top: 0;
  border-bottom: 0;
}

.nav ul.navs li.nav-element.current:first-child {
  border-left: 0;
}

.nav ul.navs li.nav-element.current:last-child {
  border-right: 0;
}

.nav ul.navs li.nav-element:hover:not(.current) {
  background-color: #ddd;
}

.nav ul.navs li.nav-element > * {
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav ul.navs li.nav-element i.nav-icon {
  font-size: 1.75em;
  margin-right: 10px;
}
.app.home {
  overflow-y: hidden;
}

.app.home .above-the-fold {
  height: 100%;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.app {
  overflow-y: scroll;
  height: 100vmin;
}

.app .above-the-fold {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  animation: fadein 2.25s;
  height: calc(100% - 125px);
}

.app .above-the-fold * {
  color: #ddd;
}

.app .below-the-fold {
  background-color: white;
  padding: 10px 20%;
  overflow: hidden;
}

.app .below-the-fold * {
  color: black;
}

.app .below-the-fold p {
  text-align: justify;
}
.app.portfolio .below-the-fold li:not(:first-child) h3 {
  margin-top: 20px;
}

.app.portfolio .below-the-fold h3 a.project.title {
  text-decoration: underline;
  color: #008cba;
}

.app.portfolio .below-the-fold li.project {
  list-style: none;
}

.app.portfolio .below-the-fold li.project p {
  margin: 0;
}

.app.portfolio .below-the-fold li.project ul.technologies {
  margin-left: 0;
  display: inline;
}

.app.portfolio .below-the-fold li.project li.technology {
  list-style: none;
  font-style: italic;
  display: inline;
  color: #933;
}

.app.portfolio .below-the-fold li.project li.technology:not(:last-child)::after {
  content: ', ';
}