body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

img.back-image {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
  min-width: 100%;
  width: auto;
  height: auto;
  -webkit-filter: grayscale(100%) opacity(0.8) brightness(30%) contrast(110%);
  filter: grayscale(100%) opacity(0.8) brightness(30%) contrast(110%);
}
.nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.nav li {
  height: 100%;
}

.nav li.current {
  color: white;
  background-color: black;
  font-style: italic;
  border: 1px white solid;
  border-top: 0;
  border-bottom: 0;
}

.nav li.current:first-child {
  border-left: 0;
}

.nav li.current:last-child {
  border-right: 0;
}

.nav li:hover:not(.current) {
  background-color: #ddd;
}

.nav li > * {
  padding: 0 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app.home {
  overflow-y: hidden;
}

.app.home .above-the-fold {
  height: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.app {
  overflow-y: scroll;
  height: 100%;
}

.app .above-the-fold {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  animation: fadein 2.25s;
  height: calc(100% - 125px);
}

.app .above-the-fold * {
  color: #ddd;
}

.app .below-the-fold {
  background-color: white;
  padding: 10px;
  overflow: hidden;
}

.app .below-the-fold * {
  color: black;
}
.app.portfolio .below-the-fold li:not(:first-child) h3 {
  margin-top: 20px;
}

.app.portfolio .below-the-fold h3 {
  text-decoration: underline;
  color: #66b;
}

.app.portfolio .below-the-fold li.project {
  list-style: none;
}

.app.portfolio .below-the-fold li.project p {
  margin: 0;
}

.app.portfolio .below-the-fold li.project ul.technologies {
  margin-left: 0;
  display: inline;
}

.app.portfolio .below-the-fold li.project li.technology {
  list-style: none;
  font-style: italic;
  display: inline;
  color: #933;
}

.app.portfolio .below-the-fold li.project li.technology:not(:last-child)::after {
  content: ', ';
}